// Custom Styles.
// -----------------------------------------------------------------------------

.panopoly-image-full {
  margin: 0;
  width: 100%;
  height: 300px !important;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: -900;
  margin-bottom: 1em;
}

.hero-front img{
  height: auto !important;
  z-index: 0;
}

.home-search-widget {
  position:absolute;
  margin-top:225px;
  text-align:center;
  height: auto;
  width: auto;

}

#panels-ipe-paneid-10 {
  left: 40%;
  position: relative;
  transform: translate(0,-50%);
}

.title-pane {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #000;
  position: relative;
  height: 150px;
  padding-top: 150px;
  z-index: 100;
}

.navbar {
  position: absolute;
  z-index: 800;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default {
  width: 80%;
  background-color: transparent;
  border: none;
}

.navbar-brand {
  height:80px;
}


#page-header {
  margin-top: 300px;
  position: absolute;

}

#logo {
  height: 300%;
}

#messages {
  margin-top: 300px;
  z-index: 700;
  position: absolute;
  width: 80%;
}


.breadcrumb {
  display: none;
}

.form-item-zip-field {
  color: #fff;
  float: left;
  padding-right:5px;
  label {
    position: absolute;
    top: -2em;
    width: 100%;
    left: -1em;
    margin-bottom: 20px;
    padding-left: 1em;
    text-shadow: 2px 2px #000;
  }
}

.not-front .form-item-zip-field {
  color: #000;
  float: left;
  padding-right:5px;
  label {
    position: absolute;
    padding-bottom: 20px;
    padding-left: 3em;
    text-shadow: none;
    margin-top:1em;
  }
}

#fmf-search-form-zipcode-form {
  margin: 1em;
  submit {
    margin-left: 5px;
  }
}

.container {
  width: 100%;
}

.radix-layouts-header {
  height: 300px;
  margin-bottom: 2em;
}

.pane-node-title {
  margin-bottom: 200px;
}

//Social share widget
.social-widget {
  top: 1em;
  position: absolute;
  right: 1em;
  width: auto;
}

#widgets-element-socialmedia_share-default .widgets-element {
  padding: 4px;
}