// Styles for Tabs, Messages, ..etc
// -----------------------------------------------------------------------------

/* admin menu */
body.admin-menu.adminimal-menu {
  margin-top: 0px !important;
  padding-top: 0 !important;
}

html.js #navbar-administration {
  display:none !important
}